allen-custom-define/src/main/resources/META-INF/test.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.allen.com/schema/test" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:beans="http://www.springframework.org/schema/beans"
	        targetNamespace="http://www.allen.com/schema/test" elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xsd:import namespace="http://www.springframework.org/schema/beans"/>
	<xsd:import namespace="http://www.springframework.org/schema/tool"/>

	<xsd:annotation>
		<xsd:documentation><![CDATA[ Namespace support for the dubbo services provided by dubbo framework. ]]></xsd:documentation>
	</xsd:annotation>
	
    <xsd:element name="testBean">
	    <xsd:complexType>
	  	    <xsd:complexContent>
		  	  	   <!-- 继承定义 从namespace="http://www.springframework.org/schema/beans" --> 
		  	  	   <xsd:extension base="beans:identifiedType">
		  	  	   		<xsd:attribute name="modelName" type="xsd:string" use="required"/>
		  	  	   		<xsd:attribute name="address" type="xsd:string" use="required"/>
		  	  	   		<xsd:attribute name="port" type="xsd:string" use="required"/>
		  	  	   </xsd:extension>
	  	    </xsd:complexContent>
	    </xsd:complexType>
    </xsd:element>
  
</xsd:schema>